{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "max-len": ["error", 150],
    "indent": ["error", 4],
    "arrow-body-style": ["error", "as-needed"],
    "import/prefer-default-export": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "object-curly-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
